*{
    margin: 0px;
    font-family: "inter";
   
}
#logo{
    width: 150px;
    margin: 75px;
    margin-top: 50px;
    font-family: "inter";
}
#titulo-menusuperior{
    margin-left: 170px;
    margin-top: 0px;
}
#texto-menusuperior{
    margin-left: 170px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menusuperior{
    background-image: url(imagens/fundo-menusuperior.svg) ;
    color: aliceblue;
}
#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icone{
    margin: 50px 0px 50px 100px ;
    padding: 10px;
}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.textoinformativo{
    display: flex;
    align-items: center;
}
#titulovideo{
    color: #247BA0;
}
#video{
    margin: 50px 25px 50px 100px;
}
#titulovideo{
    margin: 50px 25px 50px 100px ;
}
#textovideo{
    margin: 50px 25px 50px 100px ;
}
#carrossel{
    background-color: #247BA0 ;
    padding: 0px;
}
#titulocarrossel{
    padding-top: 50px;
    color: white;
    text-align: center;
    font: size 25px;
    
}
#divcards{
    display: grid;
    grid-auto-flow: column;
    padding: 50px;
}
.card{
    margin-left: 50px;
}
#bruna{
    display: none;
}
.seta{
    margin-top: 55%;
    cursor: pointer;
}
#setaesquerda {
    margin-top: 70px;
}
.seta:hover{
    transform: translateY(-7px);
    transition-duration: 05s;
    box-shadow: 0px 15px 20px #05103081;
}
#formulario{
    text-align: center;

}
#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
 width: 300px;
height: 40px;
background-color: #EAECE5;
margin: 15px;
border: 0px;
border-radius: 5px;
padding-left: 10px;
}
button{
    background-color: #247BA0;
    width: 250px;
    height: 40px;margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    color: #EAECE5;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 05;

}